streamlit==1.32.*
pygame_gui
pandas
numpy
duckdb
setuptools
ydata-profiling
polars
matplotlib
Pathlib
jupysql
imageio
python-dotenv
streamlit-chat
st-annotated-text
st-pages
scp
paramiko
mistune==3.0.1
openai
requests
Faker
gpxpy
scipy
pydeck
scikit-learn
uvicorn
cowsay
fastapi
flask
httpie
plotly
pycountry
folium
streamlit_folium
geopandas
yfinance
beautifulsoup4
fake-useragent
intervalsicu
fmiopendata
xlrd
seaborn